@model Valorex.ViewModels.DetailsVM
@{
    ViewData["Title"] = "Valorex";
}

<div class="container text-white" style="background-color: @Model.Atual.Categoria.Cor">
       <div class="row">
        <div class="col text-center">
            @if (Model.Anterior != null)
            {
                <a asp-action="Details" asp-route-id="@Model.Anterior.Id"
                    class="btn btn-lg btn-outline-danger text-white">
                    @Model.Anterior.Id.ToString("000") - @Model.Anterior.Nome
                </a>
            }
        </div>
        <div class="col text-center">
            <h1 class="fs-1">@Model.Atual.Nome <span class="fs-2 text-secondary">Nº
                    @Model.Atual.Id.ToString("000")</span></h1>
        </div>
        <div class="col text-center">
            @if (Model.Proximo != null)
            {
                <a asp-action="Details" asp-route-id="@Model.Proximo.Id"
                    class="btn btn-lg btn-outline-danger text-white">
                    @Model.Proximo.Id.ToString("000") - @Model.Proximo.Nome
                </a>
                }
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-5 p-0">
            <img class="img-fluid cursor-pointer" src="@Model.Atual.Imagem" alt="@Model.Atual.Nome">
        </div>
        <div class="col-lg-7 fs-5 mt-4">
            
            <p class="mb-3"><strong>Categoria:</strong> @Model.Atual.Categoria.Nome</p>
            <p class="mb-3"><strong>Descrição:</strong> @Model.Atual.Descricao</p>
           <p class="mb-3"><strong>Habilidades:</strong></p>
            @foreach (var habilidade in Model.Atual.Habilidades)
            {
              <p class="mb-3"> @habilidade.Nome</p>
              <p class="mb-3"> @habilidade.Descricao</p>
              }
            <p class="mb-3"><strong>Gênero:</strong> @Model.Atual.Genero.Nome</p>
             <p class="mb-3"><strong>Origem:</strong> @Model.Atual.Origem</p>
              <p class="mb-3"><strong>Ano de nascimento:</strong> @Model.Atual.Ano_Nascimento</p>
    
          



        </div>
    </div>
</div>